@import 'variables';

:export {
  blackColor: $c-black;
  whiteColor: $c-white;
  primaryColor: $c-primary;
  primaryColorDark: $c-primary-dark;
  secondaryColor: $c-secondary;
  secondaryColorDark: $c-secondary-dark;
  successColor: $c-success;
  successColorDark: $c-success-dark;
  errorColor: $c-error;
  errorColorDark: $c-error-dark;
  infoColor: $c-info;
  infoColorDark: $c-info-dark;
}
