$c-black: #02010A;
$c-white: #FFFFFF;
$c-grey: #808080;
$c-primary: #4D62F0;
$c-primary-dark: #2A326A;
$c-secondary: #FCD7FC;
$c-secondary-dark: #845F84;
$c-success: #D2FCBD;
$c-success-dark: #64805d;
$c-error: #FF848A;
$c-error-dark: #893e43;
$c-info: #D5F0F6;
$c-info-dark: #5c6c74;

$border-radius: 8px;