@import "@/app/_brand";

.card {
  padding: 20px;
  border-radius: $border-radius;
  background-color: $c-white;
  border: 1px solid $c-lightGrey;

  &__header {
    margin-bottom: 20px;
  }

  &__footer {
    margin-top: 20px;
  }

  &.block {
    width: 100%;
  }
}