@import "@/app/brand";

@keyframes button-click-animation {
  0% {
    margin-top: -3px;
  }
  25% {
    margin-top: -7px;
  }
  75% {
    margin-top: -1px;
  }
  100% {
    margin-top: -3px;
  }
}

@mixin branded-button($shadow-color, $background-color, $foreground-color) {
  background-color: $shadow-color;

  button {
    color: $foreground-color;
    background-color: $background-color;
    border-color: $background-color;
    margin-top: -3px;
  }

  @media (hover: hover) {
    &:hover {
      button {
        margin-top: -7px;
      }
    }

    &:active {
      button {
        margin-top: -1px;
      }
    }
  }

  @media (hover: none) {
    button:active,
    button:focus {
      animation: button-click-animation 0.45s $ease-out-back;
    }
  }
}

.wrapper {

  min-width: 200px;
  height: 60px;
  width: min-content;
  border-radius: $border-radius;
  background-color: transparent;

  .button {
    min-width: 200px;
    height: 60px;
    border-radius: $border-radius;
    border: 1px solid $c-black;

    @include dark-mode {
      border: 1px solid $c-grey;
    }

    .inner {
      padding: 2 * $theme-unit 4 * $theme-unit;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1ch;
      white-space: nowrap;
      * {
        white-space: nowrap;
      }
    }

    transition: margin-top 0.2s ease-out;

    &:hover {
      transition: margin-top 0.2s cubic-bezier(.19, .69, .84, 1.76);
    }
  }

  &.primary {
    @include branded-button($c-primary-dark, $c-primary, $c-white);
  }

  &.secondary {
    @include branded-button($c-secondary-dark, $c-secondary, $c-black);
  }

  &.success {
    @include branded-button($c-success-dark, $c-success, $c-black);
  }

  &.danger {
    @include branded-button($c-error-dark, $c-error, $c-white);
  }

  &.warning {
    @include branded-button($c-warning-dark, $c-warning, $c-black);
  }

  &.info {
    @include branded-button($c-info-dark, $c-info, $c-black);
  }

  &.tertiary {
    @include branded-button($c-grey, $c-white, $c-black);
  }

  &.clear {
    .button {
      transition: background-color 0.2s ease-out;

      &:hover {
        transition: background-color 0.2s ease-out;
        background-color: #cccfde;

        @include dark-mode {
          background-color: $c-grey;
        }
      }

      &:active {
        background-color: #bdc3e1;
      }
    }
  }

  &.link {
    .button {
      transition: color 0.2s ease-out;
      border: none;
      color: $c-black;
      text-decoration: underline;

      @include dark-mode {
        color: $c-white;
      }

      &:hover {
        transition: color 0.2s ease-out;
        color: $c-primary;
      }

      &:active,
      &:visited {
        color: $c-primary-dark;
      }
    }
  }
}

.block {
  width: 100%;
  .button {
    width: 100%;
  }
}
