@import "@/app/brand";

.datePicker {
  position: relative;
  margin-top: $theme-unit * 3;

  .input {
    @include default-input-style;
    cursor: pointer;
  }

  &.compact {
    .input {
      padding: 12px 16px 12px 16px;

      input {
        font-size: 14px;
      }
    }
  }

  .errorMessage {
    @include default-input-error-message;
  }

  .backdrop {
    @include default-backdrop;

    .pickerDropdown {
      position: fixed;
      background-color: var(--theme-background-color);
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 3 * $theme-unit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 350px;
      height: 50vh;
      box-shadow: 0px 0px 10px var(--theme-date-picker-box);
      transform: translateY(100%);
      transition: all 0.4s $ease-out-expo;
    }

    &.opened {
      .pickerDropdown {
        transform: translateY(0);
      }
    }

    @include media-md {
      position: absolute;
      top: -5px;
      left: -50px;
      right: -50px;
      bottom: auto;
      height: 100%;
      background-color: transparent;
      transform: translateY(-25px);
      transition: transform 0.4s $ease-in-back;

      .pickerDropdown {
        transform: translateY(0);
        position: static;
        height: auto;
        min-height: auto;
        border-radius: $border-radius;
        padding: 1 * $theme-unit;
      }

      &.opened {
        transform: translateY(0);
        transition: transform 0.3s $ease-out-back;
      }
    }
  }
}

.selected {
  background-color: $c-primary !important;
  color: $c-white !important;
}