@import "@/app/brand";

@keyframes addonsFadeIn {
  0% {
    flex-grow: 0;
    flex-shrink: 2;
    gap: 0;
  }
  100% {
    flex-shrink: 0;
    flex-grow: 1;
    gap: $default-gap;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.header {

  position: sticky;
  top: 0;

  background: $c-white;

  @include dark-mode {
    background: $c-black;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $default-gap;
  }

  &__side {
    width: 200px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .item {
      p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }

      &.dropdown {

        .dropdown__indicator {
          transition: all 0.3s $default-cubic-bezier;
        }

        ul {
          background-color: $c-white;
          border: 1px solid $c-black;
          border-radius: $border-radius;
          padding: 0px;
          position: absolute;
          top: 70px;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.3s, transform 0.3s 0.1s;
          min-width: 200px;
          transform: translateY(-25px) translateX(-25%);

          @include dark-mode {
            border: 1px solid $c-white;
            background-color: $c-black;
          }

          li {
            color: $c-black;
            justify-content: flex-start;
            font-size: 12px;
            font-weight: 400;
            border-bottom: 1px solid transparent;
            transition: background-color .1s;

            a {
              padding: 15px;
            }

            @include dark-mode {
              border-bottom: 1px solid $c-white;
              color: $c-white;

              &:first-child {
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
              }
              &:last-child {
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
              }
            }

            &:hover {
              background-color: $c-grey;
            }

            &:last-child {
              border: none;
            }
          }
        }

        &.opened {
          ul {
            opacity: 1;
            pointer-events: auto;
            transition: opacity 0.3s, transform 0.3s $default-cubic-bezier;
            transform: translateY(0px) translateX(-25%);
          }

          .dropdown__indicator {
            transform: rotate(180deg);
          }
        }
      }

    }
  }

  .wallet_addons {
    flex-grow: 0;
    flex-shrink: 2;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: flex-end;
    animation: addonsFadeIn .8s cubic-bezier(0.25, 1, 0.5, 1) forwards;

    .inner {
      opacity: 0;
      animation: fadeIn 0.3s $default-cubic-bezier .8s forwards;
      display: flex;
      gap: $default-gap;

      .addon {
        display: flex;
        flex-direction: row;
        border-radius: $border-radius;
        border: 1px solid $c-black;

        font-size: 16px;
        line-height: 1em;

        &__value {
          padding: 5px;
          border-right: 1px solid $c-black;
        }
        &__title {
          padding: 5px;
          font-weight: 600;
        }
      }
    }
  }
}