@import "@/app/brand";

.header {
  z-index: 51;
  position: sticky;
  top: 0;
  background: $c-white;

  .mobile_inner {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: $c-white;

    @include dark-mode {
      background-color: $c-black;
    }
  }

  @include dark-mode {
    background: $c-black;
  }

  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    background: $c-white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $default-gap;
    padding: 0 $default-gap;
    z-index: 48;
    transition: transform 0.4s $ease-in-cubic;
    transform: translateX(100%);

    padding-top: 100px;

    @include dark-mode {
      background: $c-black;
    }

    &.opened {
      transition: transform 0.5s $ease-out-circ;
      transform: translateX(0%);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: $theme-unit;
    flex: 1;

    .item {
      p {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }

      &.dropdown {

        padding-bottom: 2 * $theme-unit;

        .dropdown__indicator {
          transition: all 0.3s $ease-out-back;
        }

        ul {
          transition: max-height 0.3s $ease-out-circ;
          max-height: 0px;
          overflow: hidden;

          li {
            font-size: 18px;
            font-weight: 400;

            margin-left: 2 * $theme-unit;

            a {
              padding: 15px;
            }
          }
        }

        &.opened {
          ul {
            max-height: 200px;
          }

          .dropdown__indicator {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  @include media-md {
    padding: $default-gap;

    &__inner {
      position: static;
      padding-top: 0px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: $default-gap;
      transform: translateX(0%);
    }

    &__side {
      width: 200px;
    }

    &__nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 32px;

      .item {
        padding-bottom: 0px;

        p {
          font-size: 16px;
        }

        &.dropdown {

          padding-bottom: 0px;

          ul {
            background-color: $c-white;
            border: 1px solid $c-black;
            border-radius: $border-radius;
            padding: 0px;
            position: absolute;
            top: 60px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s, transform 0.3s 0.1s;
            min-width: 200px;
            max-height: 200px;
            transform: translateY(-25px) translateX(-25%);

            @include dark-mode {
              border: 1px solid $c-white;
              background-color: $c-black;
            }

            li {
              color: $c-black;
              justify-content: flex-start;
              font-size: 12px;
              font-weight: 400;
              margin-left: 0px;
              border-bottom: 1px solid transparent;
              transition: background-color .1s;

              a {
                display: block;
                height: 100%;
                padding: 15px;
                text-decoration: none;

                p {
                  display: block;
                  text-align: center;
                }
              }

              &:hover {
                background-color: #80808022;

                a {
                  color: $c-black;
                }
              }

              &:last-child {
                border: none;
              }

              @include dark-mode {
                border-bottom: 1px solid $c-white;
                color: $c-white;

                &:hover {
                  background-color: #80808088;

                  a {
                    color: $c-white;
                  }
                }

                &:first-child {
                  border-top-left-radius: $border-radius;
                  border-top-right-radius: $border-radius;
                }

                &:last-child {
                  border-bottom-left-radius: $border-radius;
                  border-bottom-right-radius: $border-radius;
                }
              }
            }
          }

          &.opened {
            ul {
              opacity: 1;
              pointer-events: auto;
              transition: opacity 0.3s, transform 0.3s $ease-out-back;
              transform: translateY(0px) translateX(-25%);
            }

            .dropdown__indicator {
              transform: rotate(180deg);
            }
          }
        }

      }
    }
  }
}