@import "@/styles/brand";

.countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $theme-unit;
  margin-top: 3 * $theme-unit;

  @include media-md {
    justify-content: flex-end;
    margin-top: 0;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 11 * $theme-unit;
    gap: 2 * $theme-unit;

    @include media-md {
      gap: 3 * $theme-unit;
      min-width: 16 * $theme-unit;
    }

    .value {
      font-size: $theme-unit * 4;
      line-height: $theme-unit * 4;
      font-weight: 500;
      position: relative;
      width: 100%;
      text-align: center;

      @include media-md {
        font-size: $theme-unit * 6;
        line-height: $theme-unit * 6;
      }
    }

    .label {
      color: var(--theme-foreground-color);
      font-size: 3 * $theme-unit;
      line-height: 3 * $theme-unit;
      font-weight: 400;
      width: 100%;
      text-align: center;

      @include media-md {
        font-size: 4 * $theme-unit;
        line-height: 4 * $theme-unit;
      }
    }

    &.day {
      color: $c-primary;
      margin-right: $theme-unit;
    }

    &.time {
      &:not(:last-child) {
        .value {
          &:after {
            content: ":";
            position: absolute;
            right: -1 * $theme-unit;
            top: 0px;
            font-size: 32px;
            line-height: 32px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
