@import "@/styles/brand";

.vote_tag {
  width: $theme-unit * 3;
  height: $theme-unit * 3;
  border-radius: 50%;
  background-color: $c-white;
  border: 1px solid $c-black;
  content: "";

  &.square {
    border-radius: $border-radius;
  }

  &.success {
    background-color: $c-success;
  }

  &.error {
    background-color: $c-error;
  }

  &.primary {
    background-color: $c-primary;
  }

  &.black {
    background-color: $c-black;
  }

  &.invisible {
    opacity: 0;
  }
}
