@import "@/app/brand";

.wrapper {
  width: 100%;

  h2 {
    font-size: $theme-unit * 6;
    line-height: $theme-unit * 6;
  }

  .proposals_grid {
    @include card-table-overflow-shadows;

    overflow: auto;

    &__row {
      display: grid;
      grid-template-columns: 350px 100px 150px 150px 150px;
      gap: 21px;
      align-items: center;
      font-weight: 500;

      &:not(:first-child) {
        margin-bottom: 19.7px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @include media-md {
        grid-template-columns: minmax(150px, 2fr) 100px 150px 150px 150px;
      }

      @include row-divider;

      &__element {
        text-align: center;
        overflow: hidden;

        &:not(:last-child):not(:first-child) {
          display: flex;
          align-items: center;
        }

        &.first {
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          font-weight: 400;
          font-size: 18px;
          max-width: 340px;
        }

        &.last {
          text-align: right;
          margin-right: $theme-unit;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }

        .index {
          text-align: center;
          font-size: 5 * $theme-unit;
          font-weight: 500;
          line-height: 5 * $theme-unit;
        }
        .status {
          min-width: 100px;
          display: flex;
          justify-content: center;
          color: black;
        }

        .progress_bar {
          max-width: 110px;
          margin: 0 auto;
          gap: 5px;
          width: 100%;
        }
      }

      .badge {
        height: 22px;
      }

      &.headers {
        margin-bottom: 38px;

        .header {
          border: none;
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          overflow: hidden;
          line-height: 5 * $theme-unit;
          letter-spacing: -0.304px;

          &:first-child {
            text-align: left;
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}
