$c-primary: #4d62f0;
$c-primary-dark: #2a326a;
$c-secondary: #fcd7fc;
$c-secondary-dark: #845f84;

$c-success: #d2fcbd;
$c-success-dark: #64805d;
$c-error: #ff848a;
$c-error-dark: #893e43;
$c-warning: #f9fa96;
$c-warning-dark: #878751;
$c-info: #d5f0f6;
$c-info-dark: #5c6c74;

$c-black: #02010a;
$c-white: #ffffff;
$c-lightGrey: #b3b3b3;
$c-grey: #808080;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-lx: 1120px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

$theme-unit: 5px;
$border-radius: 8px;
$default-gap: 18px;
