@import "@/styles/brand";

.switch {
  position: relative;
  width: 44px;
  height: 24px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px;
  transition: background-color 0.4s ease;
  border: 1px solid $c-black;

  &__light {
    background-color: $c-white;
  }

  &__dark {
    background-color: $c-secondary;
  }

  &__mode {
    gap: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .circle {
    position: absolute;
    height: 18px;
    width: 18px;
    background: $c-black;
    border-radius: 9px;
    transition: all 0.4s ease;

    &__light {
      left: 3px;
    }

    &__dark {
      left: 21px;
    }
  }
}
