@import "@/app/brand";

.container {
  padding: $theme-unit * 4 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  
  @media ( min-width: 450px ) {
    font-size: 22px;
    line-height: 22px;
  }

  .toLockInput {
    width: 152px;

    @media ( min-width: 450px ) {
      width: 204px;
    }
    
    .input {
      border-radius: 4px;
      padding: $theme-unit * 2;
      
      input {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        
        @media ( min-width: 450px ) {
          font-size: 22px;
          line-height: 22px;
        }
      }
    }
  }
  
  .veMento {
    position: relative;
    font-style: normal;
    font-weight: 500;
    width: 152px;
    font-size: 18px;
    line-height: 18px;
    
    @media ( min-width: 450px ) {
      line-height: 22px;
      font-size: 22px;
      width: 204px;
    }

    .loader {
      position: absolute;
      top: $theme-unit * -5;
      left: $theme-unit * 11;
    }
  }
}