@import "@/app/brand";

.wrapper {
  width: 100%;

  .textarea {
    @include default-input-style;
    padding: $theme-unit;
    min-height: inherit;

    textarea {
      min-height: inherit;
    }
  }

  &.compact {
    .textarea {
      textarea {
        font-size: 14px;
      }
    }
  }

  .errorMessage {
    @include default-input-error-message;
  }
}


