@import "@/app/brand";

.editor {
  min-height: 500px;
  max-height: 100vh;
  height: 100%;
  background-color: $c-white;
  border-radius: $border-radius;

  &__contentEditable {
    min-height: 450px;
  }
}