@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #02010A;
    --background-color: #FFFFFF;
    --color-primary: #4D62F0;
    --color-secondary: #FCD7FC;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #FFFFFF;
        --background-color: #02010A;
    }
}

body {
    color: var(--foreground-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--background-color);
}

@media (min-width: 768px) {
    body {
        background: url('/images/bg.png'), url('/images/bg.png'), linear-gradient(180deg, var(--background-color) 0%, var(--background-color) 100%);
        background-size: 1000px 1500px, 1000px 1500px, cover;
        background-position: 70vw 10vh, -30vw 70vh, center;
        background-repeat: no-repeat, no-repeat, no-repeat;
    }
}

.main-container {
    max-width: 1120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gap-default {
    gap: 16px;
}

.gap-default-x2 {
    gap: 32px;
}

.gap-default-x3 {
    gap: 48px;
}

.gap-default-x4 {
    gap: 64px;
}

svg.branded-icon path {
    fill: var(--foreground-color) !important;
}

a:hover,
.link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.flex-0 {
    flex: 0;
}

.full-w {
    width: 100%;
}