@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #02010A;
    --background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
      --foreground-color: #FFFFFF;
      --background-color: #02010A;
  }
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
}

.main-container {
    max-width: 1600px;
    margin: 0 auto;
}

.gap-default {
    gap: 18px;
}

svg.branded-icon path {
    fill: var(--foreground-color) !important;
}