@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --foreground-color: #02010A;
    --background-color: #FFFFFF;
    --secondary-color: #808080;
    --theme-card-background: #FFFFFF;
    --theme-card-border: #B3B3B3;
    --header-hover: #80808022;
    --button-background: #cccfde;
    --date-picker-box: rgba(0, 0, 0, 0.25);
    --progress-border: #02010A;
    --card-table-gradient: rgba(0, 0, 0, .15);
    --footer-color: #636768;
  }

.dark {
    --foreground-color: #FFFFFF;
    --background-color: #02010A;
    --secondary-color: #FFFFFF;
    --theme-card-background: #121316;
    --theme-card-border: #FFFFFF;
    --button-background: #808080;
    --header-hover: #80808088;
    --date-picker-box: rgba(255, 255, 255, 0.25);
    --progress-border: #808080;
    --card-table-gradient: rgba(156, 156, 156, .25);
    --footer-color: #8F9394;
}

body {
    color: var(--foreground-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--background-color);
}

@media (min-width: 768px) {
    body {
        background: url('/images/bg.png'), url('/images/bg.png'), linear-gradient(180deg, var(--background-color) 0%, var(--background-color) 100%);
        background-size: 1000px 1500px, 1000px 1500px, cover;
        background-position: 70vw 10vh, -30vw 70vh, center;
        background-repeat: no-repeat, no-repeat, no-repeat;
    }
}

.main-container {
    max-width: 1120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gap-default {
    gap: 16px;
}

.gap-default-x2 {
    gap: 32px;
}

.gap-default-x3 {
    gap: 48px;
}

.gap-default-x4 {
    gap: 64px;
}

svg.branded-icon path {
    fill: var(--foreground-color) !important;
}

a:hover,
.link:hover {
    text-decoration: underline;
    color: #4D62F0;
}

.flex-0 {
    flex: 0;
}

.full-w {
    width: 100%;
}