@tailwind base;
@tailwind components;
@tailwind utilities;
@import "brand";

@each $theme, $value in $themes {
  .#{$theme} {
    @each $color, $colorValue in $value {
      --theme-#{$color}: #{$colorValue};
    }
  }
}

body {
  color: var(--theme-foreground-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  background-color: var(--theme-background-color);
}

@include media-md {
  body {
    background: url('/images/bg.png'), url('/images/bg.png'), linear-gradient(180deg, var(--theme-background-color) 0%, var(--theme-background-color) 100%);
    background-size: 1000px 1500px, 1000px 1500px, cover;
    background-position: 70vw 10vh, -30vw 70vh, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

.main-container {
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

svg.branded-icon path {
  fill: var(--theme-foreground-color) !important;
}

a:hover,
.link:hover {
  text-decoration: underline;
  color: #4D62F0;
}

.flex-0 {
  flex: 0;
}

.full-w {
  width: 100%;
}

@each $color, $value in $brandColors {
  .bg-#{$color} {
    background-color: $value
  }

  .\!bg-#{$color} {
    background-color: $value !important;
  }

  .hover\:bg-#{$color}:hover {
    background-color: $value;
  }

  .color-#{$color} {
    color: $value;
  }

  .\!color-#{$color} {
    color: $value !important;
  }

  .hover\:color-#{$color}:hover {
    color: $value;
  }

  .border-#{$color} {
    border-color: $value;
  }

  .\!border-#{$color} {
    border-color: $value !important;
  }

  .hover\:border-#{$color}:hover {
    border-color: $value;
  }

  .border-t-#{$color} {
    border-top-color: $value;
  }

  .\!border-t-#{$color} {
    border-top-color: $value !important;
  }

  .hover\:border-t-#{$color}:hover {
    border-top-color: $value;
  }

  .border-b-#{$color} {
    border-bottom-color: $value;
  }

  .\!border-b-#{$color} {
    border-bottom-color: $value !important;
  }

  .hover\:border-b-#{$color}:hover {
    border-bottom-color: $value;
  }

  .border-l-#{$color} {
    border-left-color: $value;
  }

  .\!border-l-#{$color} {
    border-left-color: $value !important;
  }

  .hover\:border-l-#{$color}:hover {
    border-left-color: $value;
  }

  .border-r-#{$color} {
    border-right-color: $value;
  }

  .\!border-r-#{$color} {
    border-right-color: $value !important;
  }

  .hover\:border-r-#{$color}:hover {
    border-right-color: $value;
  }
}

@each $size, $value in $brandSizes {
  .gap-#{$size} {
    gap: $value;
  }

  .\!gap-#{$size} {
    gap: $value !important;
  }

  .gap-column-#{$size} {
    column-gap: $value;
  }

  .\!gap-column-#{$size} {
    column-gap: $value !important;
  }

  .gap-row-#{$size} {
    row-gap: $value;
  }

  .\!gap-row-#{$size} {
    row-gap: $value !important;
  }

  .p-#{$size} {
    padding: $value;
  }

  .\!p-#{$size} {
    padding: $value !important;
  }

  .px-#{$size} {
    padding-left: $value;
    padding-right: $value;
  }

  .\!px-#{$size} {
    padding-left: $value !important;
    padding-right: $value !important;
  }

  .py-#{$size} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .\!py-#{$size} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }

  .pt-#{$size} {
    padding-top: $value;
  }

  .\!pt-#{$size} {
    padding-top: $value !important;
  }

  .pb-#{$size} {
    padding-bottom: $value;
  }

  .\!pb-#{$size} {
    padding-bottom: $value !important;
  }

  .pl-#{$size} {
    padding-left: $value;
  }

  .\!pl-#{$size} {
    padding-left: $value !important;
  }

  .pr-#{$size} {
    padding-right: $value;
  }

  .\!pr-#{$size} {
    padding-right: $value !important;
  }

  .m-#{$size} {
    margin: $value;
  }

  .\!m-#{$size} {
    margin: $value !important;
  }

  .mx-#{$size} {
    margin-left: $value;
    margin-right: $value;
  }

  .\!mx-#{$size} {
    margin-left: $value !important;
    margin-right: $value !important;
  }

  .my-#{$size} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .\!my-#{$size} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

  .mt-#{$size} {
    margin-top: $value;
  }

  .\!mt-#{$size} {
    margin-top: $value !important;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }

  .\!mb-#{$size} {
    margin-bottom: $value !important;
  }

  .ml-#{$size} {
    margin-left: $value;
  }

  .\!ml-#{$size} {
    margin-left: $value !important;
  }

  .mr-#{$size} {
    margin-right: $value;
  }

  .\!mr-#{$size} {
    margin-right: $value !important;
  }

  .w-#{$size} {
    width: $value;
  }

  .\!w-#{$size} {
    width: $value !important;
  }

  .h-#{$size} {
    height: $value;
  }

  .\!h-#{$size} {
    height: $value !important;
  }

  .min-w-#{$size} {
    min-width: $value;
  }

  .\!min-w-#{$size} {
    min-width: $value !important;
  }

  .min-h-#{$size} {
    min-height: $value;
  }

  .\!min-h-#{$size} {
    min-height: $value !important;
  }

  .max-w-#{$size} {
    max-width: $value;
  }

  .\!max-w-#{$size} {
    max-width: $value !important;
  }

  .max-h-#{$size} {
    max-height: $value;
  }

  .\!max-h-#{$size} {
    max-height: $value !important;
  }

  .text-#{$size} {
    font-size: $value;
  }

  .\!text-#{$size} {
    font-size: $value !important;
  }

  .line-height-#{$size} {
    line-height: $value;
  }

  .\!line-height-#{$size} {
    line-height: $value !important;
  }

  .rounded-#{$size} {
    border-radius: $value;
  }

  .\!rounded-#{$size} {
    border-radius: $value !important;
  }

  .rounded-t-#{$size} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .\!rounded-t-#{$size} {
    border-top-left-radius: $value !important;
    border-top-right-radius: $value !important;
  }

  .rounded-b-#{$size} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .\!rounded-b-#{$size} {
    border-bottom-left-radius: $value !important;
    border-bottom-right-radius: $value !important;
  }

  .rounded-l-#{$size} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }

  .\!rounded-l-#{$size} {
    border-top-left-radius: $value !important;
    border-bottom-left-radius: $value !important;
  }

  .rounded-r-#{$size} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .\!rounded-r-#{$size} {
    border-top-right-radius: $value !important;
    border-bottom-right-radius: $value !important;
  }

  .rounded-tl-#{$size} {
    border-top-left-radius: $value;
  }

  .\!rounded-tl-#{$size} {
    border-top-left-radius: $value !important;
  }

  .rounded-tr-#{$size} {
    border-top-right-radius: $value;
  }

  .\!rounded-tr-#{$size} {
    border-top-right-radius: $value !important;
  }

  .rounded-bl-#{$size} {
    border-bottom-left-radius: $value;
  }

  .\!rounded-bl-#{$size} {
    border-bottom-left-radius: $value !important;
  }

  .rounded-br-#{$size} {
    border-bottom-right-radius: $value;
  }

  .\!rounded-br-#{$size} {
    border-bottom-right-radius: $value !important;
  }
}

