@tailwind base;
@tailwind components;
@tailwind utilities;

@import "brand";

@each $theme, $value in $themes {
  .#{$theme} {
    @each $color, $colorValue in $value {
      --theme-#{$color}: #{$colorValue};
    }
  }
}

body {
  color: var(--theme-foreground-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  background-color: var(--theme-background-color);
}

@include media-md {
  body {
    background: url('/images/bg.png'), url('/images/bg.png'), linear-gradient(180deg, var(--theme-background-color) 0%, var(--theme-background-color) 100%);
    background-size: 1000px 1500px, 1000px 1500px, cover;
    background-position: 70vw 10vh, -30vw 70vh, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

.main-container {
  max-width: $breakpoint-lx;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

svg.branded-icon path {
  fill: var(--theme-foreground-color) !important;
}

a:hover,
.link:hover {
  text-decoration: underline;
  color: $c-primary;
}

.flex-0 {
  flex: 0;
}

.full-w {
  width: 100%;
}

.prose:not(.prose-editor) {
  * {
    color: var(--theme-foreground-color);
  }
}

.prose-editor {
  max-width: 100%;
}

.rdp-day_outside:not(.rdp-day_disabled) {
  opacity: 1;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  color: $c-black;
}

@each $color, $value in $brandColors {
  @include theme-class(bg-#{$color}, (background-color), $value);
  @include theme-class(text-#{$color}, (color), $value);
  @include theme-class(border-#{$color}, (border-color), $value);
  @include theme-class(border-t-#{$color}, (border-top-color), $value);
  @include theme-class(border-b-#{$color}, (border-bottom-color), $value);
  @include theme-class(border-l-#{$color}, (border-left-color), $value);
  @include theme-class(border-r-#{$color}, (border-right-color), $value);
  @include theme-class(border-y-#{$color}, (border-top-color, border-bottom-color), $value);
  @include theme-class(border-x-#{$color}, (border-left-color, border-right-color), $value);
}

@each $size, $value in $brandSizes {
  @include theme-class(gap-#{$size}, (gap), $value);
  @include theme-class(gap-column-#{$size}, (column-gap), $value);
  @include theme-class(gap-row-#{$size}, (row-gap), $value);

  @include theme-class(m-#{$size}, (margin), $value);
  @include theme-class(mt-#{$size}, (margin-top), $value);
  @include theme-class(mb-#{$size}, (margin-bottom), $value);
  @include theme-class(ml-#{$size}, (margin-left), $value);
  @include theme-class(mr-#{$size}, (margin-right), $value);
  @include theme-class(my-#{$size}, (margin-top, margin-bottom), $value);
  @include theme-class(mx-#{$size}, (margin-left, margin-right), $value);

  @include theme-class(p-#{$size}, (padding), $value);
  @include theme-class(pt-#{$size}, (padding-top), $value);
  @include theme-class(pb-#{$size}, (padding-bottom), $value);
  @include theme-class(pl-#{$size}, (padding-left), $value);
  @include theme-class(pr-#{$size}, (padding-right), $value);
  @include theme-class(py-#{$size}, (padding-top, padding-bottom), $value);
  @include theme-class(px-#{$size}, (padding-left, padding-right), $value);

  @include theme-class(w-#{$size}, (width), $value);
  @include theme-class(h-#{$size}, (height), $value);
  @include theme-class(min-w-#{$size}, (min-width), $value);
  @include theme-class(min-h-#{$size}, (min-height), $value);
  @include theme-class(max-w-#{$size}, (max-width), $value);
  @include theme-class(max-h-#{$size}, (max-height), $value);

  @include theme-class(font-size-#{$size}, (font-size), $value);
  @include theme-class(line-height-#{$size}, (line-height), $value);

  @include theme-class(rounded-#{$size}, (border-radius), $value);
  @include theme-class(rounded-t-#{$size}, (border-top-left-radius, border-top-right-radius), $value);
  @include theme-class(rounded-b-#{$size}, (border-bottom-left-radius, border-bottom-right-radius), $value);
  @include theme-class(rounded-l-#{$size}, (border-top-left-radius, border-bottom-left-radius), $value);
  @include theme-class(rounded-r-#{$size}, (border-top-right-radius, border-bottom-right-radius), $value);
  @include theme-class(rounded-tl-#{$size}, (border-top-left-radius), $value);
  @include theme-class(rounded-tr-#{$size}, (border-top-right-radius), $value);
  @include theme-class(rounded-bl-#{$size}, (border-bottom-left-radius), $value);
  @include theme-class(rounded-br-#{$size}, (border-bottom-right-radius), $value);
}

@include theme-class(rounded-full, (border-radius), 50%);
@include theme-class(rounded-t-full, (border-top-left-radius, border-top-right-radius), 50%);
@include theme-class(rounded-b-full, (border-bottom-left-radius, border-bottom-right-radius), 50%);
@include theme-class(rounded-l-full, (border-top-left-radius, border-bottom-left-radius), 50%);
@include theme-class(rounded-r-full, (border-top-right-radius, border-bottom-right-radius), 50%);
@include theme-class(rounded-tl-full, (border-top-left-radius), 50%);
@include theme-class(rounded-tr-full, (border-top-right-radius), 50%);
@include theme-class(rounded-bl-full, (border-bottom-left-radius), 50%);
@include theme-class(rounded-br-full, (border-bottom-right-radius), 50%);

@include theme-class(rounded-half, (border-radius), 25%);
@include theme-class(rounded-t-half, (border-top-left-radius, border-top-right-radius), 25%);
@include theme-class(rounded-b-half, (border-bottom-left-radius, border-bottom-right-radius), 25%);
@include theme-class(rounded-l-half, (border-top-left-radius, border-bottom-left-radius), 25%);
@include theme-class(rounded-r-half, (border-top-right-radius, border-bottom-right-radius), 25%);
@include theme-class(rounded-tl-half, (border-top-left-radius), 25%);
@include theme-class(rounded-tr-half, (border-top-right-radius), 25%);
@include theme-class(rounded-bl-half, (border-bottom-left-radius), 25%);
@include theme-class(rounded-br-half, (border-bottom-right-radius), 25%);