@import "@/app/brand";

@mixin branded-badge($border-color, $background-color, $foreground-color) {
  border: 1px solid $border-color;
  background-color: $background-color;
  color: $foreground-color;
}

.badge {
  border-radius: $border-radius;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1em;
  min-width: 70px;
  min-height: 40px;
  text-align: center;
  width: min-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 400;

  @include media-md {
    font-size: 18px;
  }

  &.secondary {
    @include branded-badge($c-secondary, $c-secondary, $c-black);
  }

  &.tertiary {
    @include branded-badge(var(--theme-foreground-color), transparent, var(--theme-foreground-color));
    border: 1px solid var(--theme-foreground-color);
  }

  &.rounded {
    padding: 8px 10px;
    border-radius: $border-radius * 5;
  }

  &.block {
    width: 100%;
  }

}