@import "@styles/brand";

.wrapper {
  padding: 4 * $theme-unit;

  .title {
    display: flex;
    align-items: center;
    gap: 2 * $theme-unit;
    background-color: inherit;
    font-size: 4 * $theme-unit;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 2 * $theme-unit;
  }

  .form_element {
    max-height: 0;
    transition: max-height 0s $ease-in-cubic;
    overflow: hidden;
    padding-bottom: 0 !important;

    .inner {
      opacity: 0;
      overflow: hidden;
      transform: translateY(-25px);
      transition: all 0s $ease-in-cubic;
      padding: 0 2 * $theme-unit 3 * $theme-unit;

      @include media-md {
        padding: 0 4 * $theme-unit 5 * $theme-unit;
      }
    }

    &.opened {
      max-height: 100%;
      padding: initial;
      transition: max-height 0.3s $ease-in-cubic;

      .inner {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s $ease-out-back;
        word-break: break-word;
      }
    }
  }
}