@import "@/app/brand";

.footer {
  margin: 75px 0 112px;
  border-top: 1px solid $c-black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  color: var(--foreground-color);

  strong {
    color: var(--footer-color);
  }

  &__element {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    gap: 2 * $theme-unit;

    .theme {
      color: var(--footer-color);
    }
  }
}

.learn_more {
  background-color: #121316;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3 * $theme-unit;
  padding: 6 * $theme-unit;

  .description {
    color: $c-white;
    max-width: 500px;
  }
}