@import "@/styles/brand";

.container {
  .wrapper_connect_button {
    width: 200px;
    align-self: center;
  }

  .wallet_addons {
    .addon {
      &__title {
        border-right: 1px solid var(--theme-secondary-color);
      }

      .addon + .addon {
        border-top: 1px solid var(--theme-secondary-color);
      }
    }
  }
}
