@import "@/app/brand";

.card {

  background-color: $c-white;
  border: 1px solid $c-lightGrey;

  @media (prefers-color-scheme: dark) {
    background-color: #1D1D20;
    border: 1px solid #333336;
  }

  padding: 2 * $theme-unit;

  @include media-md {
    padding: 4 * $theme-unit;
  }

  border-radius: $border-radius;

  &__header {
    margin-bottom: 20px;
  }

  &__footer {
    margin-top: 20px;
  }

  &.block {
    width: 100%;
  }

  &.transparent {
    background-color: transparent;
  }
}