@import "@/app/brand";

.card {

  background-color: $c-white;
  border: 1px solid $c-lightGrey;

  @include dark-mode {
    background-color: #121316;
    border: 1px solid $c-white;
  }

  border-radius: $border-radius;

  &__header {
    padding: 2 * $theme-unit;
    position: relative;
    background-color: inherit;

    @include media-md {
      padding: 4 * $theme-unit;
      padding-bottom: 2 * $theme-unit;
    }
  }

  &__footer,
  & > div {
    padding: 0 2 * $theme-unit;

    &:last-child {
      padding-bottom: 2 * $theme-unit;
    }

    @include media-md {
      padding: 0 4 * $theme-unit;
      &:last-child {
        padding-bottom: 4 * $theme-unit;
      }
    }
  }

  & > div {
    border-radius: $border-radius;
  }

  & > div:first-child {
    padding-top: 2 * $theme-unit;
    @include media-md {
      padding-top: 4 * $theme-unit;
    }
  }

  &.block {
    width: 100%;
  }

  &.transparent {
    background-color: transparent;
  }
}