@import "@/app/brand";


.wrapper {
  margin-top: $theme-unit;

  .input {
    width: 100%;
    padding: 18px 32px 18px 32px;
    border-radius: 8px;
    border: 1px solid $c-lightGrey;
    gap: 8px;

    margin-top: $theme-unit;

    transition: all 0.2s $ease-out-circ;

    &:focus-within {
      border: 1px solid $c-primary;
      box-shadow: 0 0 0 2px $c-primary;
    }

    &.error {
      border: 1px solid $c-error !important;
      box-shadow: 0 0 0 2px $c-error !important;
    }

    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 28px;
      font-weight: 400;
      color: $c-black;
      background-color: transparent;
      caret-color: $c-primary;

      &:placeholder {
        color: $c-lightGrey;
      }

      @include dark-mode {
        color: $c-white;
      }
    }
  }

  .errorMessage {
    color: $c-error-dark;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
  }
}


