@import "@/app/brand";

.wrapper {
  margin-top: $theme-unit;

  label {
    font-weight: 600;
  }

  .input {
    @include default-input-style;
  }

  &.compact {
    .input {
      padding: 12px 16px 12px 16px;

      input {
        font-size: 14px;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    input {
      cursor: not-allowed;
    }
  }

  .errorMessage {
    @include default-input-error-message;
  }
}


