@import "@/app/brand";

.container {
  color: var(--theme-foreground-color);
  font-size: $theme-unit * 4;
  line-height: $theme-unit * 4;

  ul li::marker {
    color: var(--theme-foreground-color);
  }

  li {
    margin: unset;
  }
}