@import '@/app/brand';


.tabView {
  background-color: inherit;
  .header {
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 1;
    padding: $theme-unit 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $theme-unit * 2;

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: $c-primary;
      }

      &.active {
        color: $c-primary;
      }
    }
  }

  .list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    
    max-height: 500px;
    overflow-y: auto;
    
    @include media-md {
      max-height: 100%;
      overflow-y: visible;
    }

    &__item {
      word-break: break-word;
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      transition: 300ms $ease-out-back;

      &.hidden {
        opacity: 0;
        overflow: hidden;
        max-height: 100px;
      }
    }
  }
}