@import "@/styles/brand";

$box-size: 4px;

.counter {
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 0px $box-size $c-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: $border-radius * 0.5;
  border-bottom-left-radius: $border-radius * 0.5;
  position: relative;
  background-color: inherit;

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: $box-size;
    height: $box-size;
    background-color: inherit;
    z-index: 1;
  }

  &:before {
    left: $box-size * -1;
    top: $box-size * -1;
  }
  &:after {
    right: $box-size * -1;
    bottom: $box-size * -1;
  }
}
