@import "@/app/brand";

@mixin branded-dropdown($border-color, $background-color, $foreground-color) {
  .dropdown {
    border: 1px solid $border-color;
    background-color: $background-color;
    color: $foreground-color;

    .dropdown_element {
      &:not(:last-child):not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.wrapper {

  position: relative;

  .button {
    min-width: 60px;

    button {
      min-width: 60px;
    }
  }

  .toggle {
    transition: transform 0.3s $ease-out-back;

    &.opened {
      transform: rotate(180deg);
    }
  }

  .dropdown_wrapper {
    position: absolute;
    top: 70px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s 0.1s ease-in, z-index 0.1s 1s;
    transform: translateY(-50px);
    z-index: -1;
    overflow: hidden;
    min-width: 100%;

    .dropdown {
      border-radius: $border-radius;
      width: 100%;
    }

    .dropdown_element {
      button {
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 2 * $theme-unit 2 * $theme-unit;
        white-space: nowrap;

        &:hover {
          background-color: #88888866;
        }
      }

      &:first-child {
        button {
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }

      &:last-child {
        button {
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.primary {
      @include branded-dropdown($c-primary-dark, $c-primary, $c-white);
    }

    &.secondary {
      @include branded-dropdown($c-secondary-dark, $c-secondary, $c-black);
    }

    &.success {
      @include branded-dropdown($c-success-dark, $c-success, $c-black);
    }

    &.danger {
      @include branded-dropdown($c-error-dark, $c-error, $c-white);
    }

    &.warning {
      @include branded-dropdown($c-warning-dark, $c-warning, $c-black);
    }

    &.info {
      @include branded-dropdown($c-info-dark, $c-info, $c-black);
    }

    &.tertiary,
    &.clear,
    &.link {
      @include branded-dropdown(var(--secondary-color), var(--background-color), var(--foreground-color));
    }
  }

  &.block {
    width: 100%;
  }
}

.opened {

  .dropdown_wrapper {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
    transition: opacity 0.3s, transform 0.3s $ease-out-back;
    transform: translateY(0px);
  }

  &:not(.clear):not(.link) {
    .button {
      button {
        margin-top: -1px !important;
      }
    }
  }

  &.clear {
    .button {
      button {
        background-color: var(--button-background);
      }
    }
  }
}